<title-header
  [titlePath]="'Regresar'"
  [title]="'Hornos'"
  (onBack)="onBackPage($event)"
></title-header>

<ion-content>
  <ion-grid class="container container--all">
    <ion-row class="container container__row container__row--title" size="12">
      <ion-col class="container container__column" size="12">
        <h1 class="container container__title">Revisión del producto</h1>
      </ion-col>
    </ion-row>
    <ion-row class="container container__row container__row--headers">
      <ion-col
        class="container container__column container__column--header"
        size="2"
      ></ion-col>
      <ion-col
        class="container container__column container__column--header"
        size="5"
        >Hora</ion-col
      >
      <ion-col
        class="container container__column container__column--header"
        size="5"
        >Observaciones</ion-col
      >
    </ion-row>

    <ion-row
      class="container container__row container__row--data"
      *ngIf="(products$ | async)"
      style="overflow-y: scroll;"
    >
      <ion-col
        class="container container__column container__column--with-data"
        size="12"
      >
        <app-product-review-card
          *ngFor="let product of products$ | async; let i = index"
          [productReview]="product"
        ></app-product-review-card>
      </ion-col>
      <ion-col
        class="container container__column container__column--empty"
        *ngIf="!(products$ | async)"
        >No existen productos</ion-col
      >
    </ion-row>
    <!-- <ion-row class="container container__column container__column--list-empty">
     
    </ion-row> -->
    <ion-row
      class="container container__row container__row--buttons ion-justify-content-center ion-align-items-center"
    >
      <ion-col class="container container__column">
        <ion-button
          class="container container__button"
          [disabled]="(users$ | async) == null"
          (click)="endup()"
          color="secondary"
          expand="block"
          size="large"
        >
          Terminar
        </ion-button>
      </ion-col>
      <ion-col class="container container__column">
        <ion-button
          class="container container__button"
          color="primary"
          size="large"
          expand="block"
          (click)="addUsers()"
        >
          Usuarios
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
