<title-header
  [titlePath]="'Regresar'"
  [path]="'/'"
  [title]="'Hornos'"
></title-header>

<ion-content>
  <div class="container">
    <ion-grid class="container-products">
      <ion-row size="12">
        <ion-col size="12">
          <h1 class="title-menu">Revisión del producto</h1>
        </ion-col>
      </ion-row>
      <ion-col>
        <ion-row size="12">
          <ion-col class="text-dark" size="2"></ion-col>
          <ion-col class="text-dark" size="5">Hora</ion-col>
          <ion-col class="text-dark ion-text-center" size="5"
            >Observaciones</ion-col
          >
        </ion-row>

        <ion-row>
          <ion-card
            class="item pointer ion-justify-content-center ion-align-self-center"
            *ngFor="let product of products$ | async; let i = index"
          >
            <ion-row>
              <ion-col
                class="text-dark ion-justify-content-center ion-align-self-center ion-text-center"
                size="2"
              >
                <ion-icon
                  lot="start"
                  class="label-button icon-white"
                  src="/assets/icons/clipboard.svg"
                ></ion-icon
              ></ion-col>
              <ion-col
                size="5"
                class="ion-justify-content-center ion-align-self-center"
                >{{ product.hour }}</ion-col
              >
              <ion-col size="5" class="ion-text-center">
                <ion-button
                  expand="block"
                  color="primary"
                  style="text-transform: none;"
                  size="medium"
                  (click)="observations(product)"
                >
                  Observaciones
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-card>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="!(products$ | async)" class="text-dark"
        >No existen productos</ion-col
      >
    </ion-grid>
    <div class="ion-justify-content-center">
      <ion-col>
        <ion-row class="ion-justify-content-around btn">
          <ion-button
            [disabled]="(users$ | async) == null"
            (click)="endup()"
            color="secondary"
            size="medium"
          >
            <ion-grid>
              <ion-col>Terminar</ion-col>
            </ion-grid>
          </ion-button>
          <ion-button color="primary" size="medium" href="/user/create-user">
            Usuarios
          </ion-button>
        </ion-row>
      </ion-col>
    </div>
  </div>
</ion-content>
