$color-text-primary: #575552;

.container {
  padding: 10px;
}

.title-menu,
.text-dark {
  color: $color-text-primary;
  width: 100%;
}

.title-menu {
  font-weight: bold;
}

.item {
  width: 100%;
  height: 10vh;
  background-color: $color-text-primary;
  color: #ffffff;
  font-size: 1.25em;
}

.products-container {
  height: 80vh;
  overflow: auto;
}

.pointer {
  cursor: pointer;
}

.icon-white {
  fill: #ffffff;
}
