@import "../../../../../theme/mixins.scss";

.form {
  height: 100%;

  &__grid {
    height: 100%;
  }

  &__message-container {
    height: auto;
  }

  &__item {
    height: auto;
  }

  &__label {
    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }

    &--error {
      color: var(--ion-color-error);
      @include breakpoint-size(ms-extra-small) {
        font-size: var(--fs-text-error-xsm);
      }

      @include breakpoint-size(ms-small) {
        font-size: var(--fs-text-error-sm);
      }

      @include breakpoint-size(ms-medium) {
        font-size: var(--fs-text-error-md);
      }

      @include breakpoint-size(ms-extra-large) {
        font-size: var(--fs-text-error-xl);
      }
    }
  }

  &__row {
    @include breakpoint-size(ms-extra-small) {
      height: 40%;
    }

    @include breakpoint-size(ms-small) {
      height: 30%;
    }

    @include breakpoint-size(ms-medium) {
      height: 25%;
    }
  }
}
