<title-header
  [titlePath]="'Regresar'"
  [title]="'Hornos'"
  (onBack)="onBackPage($event)"
></title-header>

<ion-content>
  <ion-grid class="container container--all">
    <ion-row class="container container__row container__row--forms">
      <ion-col class="container container__column" size="12">
        <div
          class="container container__form"
          *ngIf="!(next$ |async) ||( (index$|async)==0 && (next$|async))"
        >
          <general-data-form
            (onSubmit)="onSubmit($event)"
            [generalData]="generalData"
          ></general-data-form>
        </div>
        <div
          class="container container__form"
          *ngIf="(next$ |async) && (index$|async)"
        >
          <revision-data-form
            (onSubmit)="onSubmitRevison($event)"
            [revisionData]="revisionData"
          ></revision-data-form>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="container container__row container__row--stepper">
      <ion-col class="container container__column" size="12">
        <stepper (index)="position($event)"></stepper>
      </ion-col>
    </ion-row>
    <ion-row
      class="container container__row container__row--buttons ion-justify-content-around"
      *ngIf="!(next$ |async)"
      size="12"
    >
      <ion-col class="container container__column" size="6">
        <ion-button
          class="container container__button container__button--cancel"
          color="secondary"
          size="large"
          expand="block"
          (click)="cancel()"
        >
          cancelar
        </ion-button>
      </ion-col>
      <ion-col class="container container__column" size="6">
        <ion-button
          class="container container__button container__button--next"
          color="primary"
          (click)="validateForm()"
          [disabled]="disabledButton"
          size="large"
          expand="block"
        >
          Siguiente
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row
      class="container container__row container__row--buttons ion-justify-content-around"
      *ngIf="next$ |async"
    >
      <ion-col class="container container__column" size="12">
        <ion-button
          class="container container_buttton"
          color="secondary"
          size="large"
          expand="block"
          (click)="addProduct()"
          [disabled]="disabledSaveButton"
        >
          <ion-col *ngIf="!(loading$|async)" size="12">GUARDAR</ion-col>
          <ion-spinner *ngIf="loading$|async" name="crescent"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
