<ion-grid class="ion-margin-top ion-margin-bottom">
  <ion-row
    class="ion-justify-content-center ion-align-items-center"
    (click)="detailProduct(product.ovenProductId)"
  >
    <ion-col
      class="text-dark ion-justify-content-center ion-align-self-center ion-text-start"
      size="1"
    >
      <ion-icon
        lot="start"
        class="label-button icon-white"
        src="/assets/icons/clipboard.svg"
      ></ion-icon
    ></ion-col>
    <ion-col
    size="1"
    class="ion-justify-content-center ion-align-self-center ion-text-start"
    >{{ product.oven }}</ion-col
  >
    <ion-col
      size="2"
      class="ion-justify-content-center ion-align-self-center ion-text-start"
      >{{ product.pcc }}</ion-col
    >
    <ion-col
      size="3"
      class="ion-justify-content-center ion-align-self-center ion-text-start"
      >{{ product.product.description }}</ion-col
    >
    <ion-col
      size="2"
      class="ion-justify-content-start ion-align-self-center ion-text-start"
      >{{ product.newLotId }}</ion-col
    >
    <ion-col
      size="3"
      class="ion-justify-content-center ion-align-self-center ion-text-start"
      style="padding: 0;"
      >{{ product.date }}</ion-col
    >
  </ion-row>
</ion-grid>
