<form [formGroup]="form">
  <ion-grid fixed class="form-grid">
    <ion-row class="form-image">
      <ion-col size="12">
        <div class="image"></div>
      </ion-col>
    </ion-row>
    <ion-row class="form-message">
      <ion-col size="12">
        <h1>Introduce tu usuario y contrase&ntilde;a</h1>
        <h1>Para iniciar sesi&oacute;n</h1>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-item lines="none" class="form-input">
        <ion-icon src="/assets/icons/user.svg" class="color"></ion-icon>
        <ion-input
          formControlName="email"
          type="email"
          placeholder="Nombre de usuario"
          required
        >
        </ion-input>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label
        *ngIf="
          form.hasError('required', 'email') &&
          (form.controls.email.touched || form.controls.email.dirty)
        "
      >
        Este campo es requerido.
      </ion-label>
      <ion-label
        *ngIf="
          form.hasError('email', 'email') &&
          (form.controls.email.touched || form.controls.email.dirty)
        "
      >
        Por favor ingresa un correo electrónico válido
      </ion-label>
    </div>
    <ion-row>
      <ion-item lines="none" class="form-input">
        <ion-icon src="/assets/icons/lock.svg" class="color"></ion-icon>
        <ion-input
          formControlName="password"
          type="password"
          placeholder="Contrase&ntilde;a"
          required
        >
        </ion-input>
      </ion-item>
    </ion-row>
    <div class="error">
      <ion-label
        *ngIf="
          form.hasError('required', 'password') &&
          (form.controls.password.touched || form.controls.password.dirty)
        "
      >
        Este campo es requerido.
      </ion-label>
      <ion-label
        *ngIf="
          form.hasError('pattern', 'password') &&
          !form.hasError('required', 'password') &&
          (form.controls.password.touched || form.controls.password.dirty)
        "
      >
        Debe contener letras minúsculas (a-z), mayúsculas (A-Z), números (0-9) y
        caracteres especiales ( *-+_!@#$%^&.,? ).
      </ion-label>
    </div>
    <ion-button
      class="btn"
      (click)="onSubmit()"
      [disabled]="form.invalid || loading"
    >
      <div style="padding: 10px 0;">
        <label *ngIf="!loading">Iniciar sesión</label>
        <ion-spinner
          *ngIf="loading"
          name="crescent"
          diameter="32"
        ></ion-spinner>
      </div>
    </ion-button>
    <div class="error">
      <ion-label
        style="color: #961212; font-size: 14px; text-align: center;"
        *ngIf="form.errors?.loginError"
      >
        {{ translateError(form.errors.loginError) }}
      </ion-label>
    </div>
  </ion-grid>
</form>
