$color-text-primary: #b2b2b2;
$color-text-secondary: #575552;

@import "../../../../../theme/mixins.scss";

.form {
  //   border: 1px solid red;
  height: 100%;

  &__grid {
    // border: 1px solid blue;
    height: 100%;
  }

  &__title {
    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-title-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-title-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-title-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-title-xl);
    }
  }

  &__row {
    @include breakpoint-size(ms-extra-small) {
      height: 30%;
    }

    @include breakpoint-size(ms-small) {
      height: 30%;
    }

    @include breakpoint-size(ms-medium) {
      height: 28%;
    }

    &--first {
      padding: 0 2%;

      @include breakpoint-size(ms-extra-small) {
        height: 10%;
      }

      @include breakpoint-size(ms-small) {
        // border: 1px solid red;
        height: 8%;
      }

      @include breakpoint-size(ms-medium) {
        height: 14%;
      }

      @include breakpoint-size(ms-extra-large) {
        height: 12%;
      }
    }
  }

  &__item {
    height: auto;
  }

  &__message-container {
    // border: 1px solid red;
    height: auto;
  }

  &__label {
    @include breakpoint-size(ms-extra-small) {
      font-size: var(--fs-text-xsm);
    }

    @include breakpoint-size(ms-small) {
      font-size: var(--fs-text-sm);
    }

    @include breakpoint-size(ms-medium) {
      font-size: var(--fs-text-md);
    }

    @include breakpoint-size(ms-extra-large) {
      font-size: var(--fs-text-xl);
    }

    &--error {
      color: var(--ion-color-error);

      @include breakpoint-size(ms-extra-small) {
        font-size: var(--fs-text-error-xsm);
      }

      @include breakpoint-size(ms-small) {
        font-size: var(--fs-text-error-sm);
      }

      @include breakpoint-size(ms-medium) {
        font-size: var(--fs-text-error-md);
      }

      @include breakpoint-size(ms-extra-large) {
        font-size: var(--fs-text-error-xl);
      }
    }
  }
}
