@import "../../../../../theme/mixins.scss";

ion-content {
  ion-grid {
    height: 100%;
    min-height: 1280px;
    display: flex;
    flex-direction: column;

    @include breakpoint-size(ms-extra-small) {
      min-height: 500px;
    }

    @include breakpoint-size(ms-small) {
      height: 700px;
    }

    @include breakpoint-size(ms-medium) {
      min-height: 500px;
    }

    @include breakpoint-size(ms-extra-large) {
      min-height: 700px;
    }

    .row {
      &-1 {
        height: 60%;

        @include breakpoint-size(ms-medium) {
          height: 85%;
        }

        @include breakpoint-size(ms-extra-large) {
          height: 75%;
        }

        ion-col {
          height: 100%;
        }
      }

      &-2 {
        height: 15%;

        ion-col {
          height: 100%;
          display: flex;
          flex-direction: row;

          ion-button {
            width: 100%;
            height: 60px;
            font-size: var(--font-size-md);

            @include breakpoint-size(ms-extra-small) {
              width: 100%;
              height: 35px;
              font-size: var(--fs-text-xsm);
            }

            @include breakpoint-size(ms-small) {
              width: 100%;
              height: 45px;
              font-size: var(--fs-text-sm);
            }

            @include breakpoint-size(ms-medium) {
              width: 90%;
              height: 30px;
              font-size: var(--fs-text-md);
            }

            @include breakpoint-size(ms-extra-large) {
              width: 90%;
              height: 40px;
              font-size: var(--fs-text-xl);
            }
          }
        }
      }
    }
  }
}
