<title-header
  [titlePath]="'Regresar'"
  [path]="'/product/list'"
  [title]="'Hornos'"
></title-header>

<ion-content>
  <ion-grid>
    <ion-row
      class="row row-1 ion-justify-content-center ion-align-items-center"
    >
      <ion-col>
        <revision-data-form #form (onSubmit)="onRevisionSubmit($event)">
        </revision-data-form>
      </ion-col>
    </ion-row>
    <ion-row
      class="row row-2 ion-justify-content-center ion-align-items-center"
    >
      <ion-col
        size="4"
        class="ion-justify-content-center ion-align-items-center col-4"
      >
        <ion-button
          expand="block"
          size="large"
          color="secondary"
          (click)="navToHistory()"
        >
          Ver historial
        </ion-button>
      </ion-col>
      <ion-col
        size="8"
        class="ion-justify-content-center ion-align-items-center col-8"
      >
        <ion-button
          expand="block"
          size="large"
          color="primary"
          [disabled]="form.form.invalid"
          (click)="addRevision()"
        >
          Guardar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
