<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <ion-grid fixed>
    <ion-row class="row row-1">
      <h1 class="title-menu">Datos de revisión</h1></ion-row
    >
    <ion-row class="row row-2 ion-justify-content-around">
      <ion-col size="6">
        <ion-item class="form-input ion-no-padding">
          <ion-label class="ion-label" position="floating">Hora*</ion-label>
          <ion-input placeholder="Ingresa tiempo" formControlName="hour">
          </ion-input>
        </ion-item>
        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'hour') &&
              (form.controls.hour.touched || form.controls.hour.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'hour')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-item class="form-input ion-no-padding">
          <ion-label class="ion-label" position="floating"
            >Temperatura interna*</ion-label
          >
          <ion-input
            placeholder="Ingresa temperatura"
            formControlName="interTemp"
          >
          </ion-input>
        </ion-item>

        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'interTemp') &&
              (form.controls.interTemp.touched || form.controls.interTemp.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'interTemp')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row row-3 ion-justify-content-around">
      <ion-col size="6">
        <ion-item class="form-input ion-no-padding">
          <ion-label class="ion-label" position="floating"
            >Temperatura horno*</ion-label
          >
          <ion-input
            placeholder="Ingresa temperatura"
            formControlName="ovenTemp"
          >
          </ion-input>
        </ion-item>

        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'ovenTemp') &&
              (form.controls.ovenTemp.touched || form.controls.ovenTemp.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'ovenTemp')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>
      <ion-col size="6">
        <ion-item class="form-input ion-no-padding">
          <ion-label class="ion-label" position="floating">Humedad*</ion-label>
          <ion-input placeholder="Ingresa lote" formControlName="humidity">
          </ion-input>
        </ion-item>

        <div class="error">
          <ion-label
            *ngIf="
              form.hasError('required', 'humidity') &&
              (form.controls.humidity.touched || form.controls.humidity.dirty)
            "
          >
            Este campo es requerido.
          </ion-label>
          <ion-label *ngIf="form.hasError('whitespace', 'humidity')">
            No has introducido caracteres.
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-row class="row row-4" style="padding: 0 15px;">
      <ion-col size="12">
        <ion-item class="form-input ion-no-padding">
          <ion-label class="ion-label" position="floating"
            >Observaciones</ion-label
          >
          <ion-textarea
            rows="4"
            placeholder="Ingresa observaciones"
            formControlName="observations"
          ></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
