$color-text-primary: #b2b2b2;
$color-text-secondary: #575552;
@import "../../../../../theme/mixins.scss";

form {
  width: 100%;
  height: 100%;

  ion-grid {
    height: 100%;
    .row {
      &-1 {
        height: 10%;

        h1 {
          color: $color-text-secondary;
          font-weight: bold;
          padding-left: 15px;

          @include breakpoint-size(ms-extra-small) {
            font-size: var(--fs-text-title-xsm);
          }

          @include breakpoint-size(ms-small) {
            font-size: var(--fs-text-title-sm);
          }

          @include breakpoint-size(ms-medium) {
            font-size: var(--fs-text-title-md);
          }

          @include breakpoint-size(ms-extra-large) {
            font-size: var(--fs-text-title-xl);
          }
        }
      }

      &-2 {
        height: 30%;

        ion-col {
          ion-item {
            --color: var(--ion-color-secondary);

            @include breakpoint-size(ms-extra-small) {
              font-size: var(--fs-text-xsm);
            }

            @include breakpoint-size(ms-small) {
              font-size: var(--fs-text-sm);
            }

            @include breakpoint-size(ms-medium) {
              font-size: var(--fs-text-md);
            }

            @include breakpoint-size(ms-extra-large) {
              font-size: var(--fs-text-md);
            }
          }
        }
      }

      &-3 {
        height: 30%;

        ion-col {
          ion-item {
            --color: var(--ion-color-secondary);

            @include breakpoint-size(ms-extra-small) {
              font-size: var(--fs-text-xsm);
            }

            @include breakpoint-size(ms-small) {
              font-size: var(--fs-text-sm);
            }

            @include breakpoint-size(ms-medium) {
              font-size: var(--fs-text-md);
            }

            @include breakpoint-size(ms-extra-large) {
              font-size: var(--fs-text-lg);
            }
          }
        }
      }

      &-4 {
        height: 30%;

        ion-col {
          ion-item {
            --color: var(--ion-color-secondary);

            @include breakpoint-size(ms-extra-small) {
              font-size: var(--fs-text-xsm);
            }

            @include breakpoint-size(ms-small) {
              font-size: var(--fs-text-sm);
            }

            @include breakpoint-size(ms-medium) {
              font-size: var(--fs-text-md);
            }

            @include breakpoint-size(ms-extra-large) {
              font-size: var(--fs-text-lg);
            }

            ion-textarea {
              font-size: var(--font-size-lg);
            }
          }
        }
      }
    }
  }

  .error {
    margin-top: 2%;
    color: var(--ion-color-error);
    font-size: var(--fs-text-md);
    height: 2%;
    transform: 2s;
  }
}
