$color-text-primary: #b2b2b2;
$color-text-secondary: #575552;
@import "../../../../../theme/mixins.scss";

// ion-input {
//   font-size: 0.8em;
// }

// .ion-label {
//   width: 100vw;
//   color: $color-text-primary;
//   min-width: 100%;
//   max-width: none;
// }

form {
  width: 100%;
  border: 2px solid orange;
  height: 100%;

  ion-grid {
    height: 100%;
    .row {
      border: 1px solid green;
      &-1 {
        height: 10%;

        h1 {
          color: $color-text-secondary;
          font-weight: bold;
          padding-left: 15px;
          font-size: var(--fs-text-title-md);

          @include breakpoint-size(ms-extra-large) {
            font-size: var(--fs-text-title-xl);
          }
        }
      }

      &-2 {
        height: 30%;

        ion-col {
          ion-item {
            font-size: var(--fs-text-md);
            --color: var(--ion-color-secondary);
          }
        }
      }

      &-3 {
        height: 30%;

        ion-col {
          ion-item {
            font-size: var(--fs-text-md);
            --color: var(--ion-color-secondary);
          }
        }
      }

      &-4 {
        height: 30%;

        ion-col {
          ion-item {
            font-size: var(--fs-text-md);
            --color: var(--ion-color-secondary);

            ion-textarea {
              font-size: var(--font-size-lg);
            }
          }
        }
      }
    }
  }

  // .form-input,
  // ion-datetime {
  //   color: $color-text-secondary;
  //   margin-top: 20px;
  // }
  .error {
    margin-top: 2%;
    color: var(--ion-color-error);
    font-size: var(--fs-text-md);
    height: 2%;
    transform: 2s;
  }
  // ion-button {
  //   height: 10%;
  //   width: 100%;
  //   text-transform: none;
  //   font-size: 3vw;
  //   font-weight: 20;
  //   margin: 0;
  //   margin-top: 18%;
  //   border-radius: 5px;
  //   --ion-color-primary: #e2bd53;
  // }
}
