@import "../../../../../theme/mixins.scss";

// $color-text-primary: #575552;
// $color-text-error: #830f0f;

// .title-menu,
// .text-dark {
//   color: $color-text-primary;
//   width: 100%;
//   font-size: 2rem;
// }

// .title-menu {
//   font-weight: bold;
//   font-size: 1em;
// }

// .grid-container--main {
//   height: 70vh;
//   :nth-child(2) {
//     align-self: center;
//     color: $color-text-error;
//     font-size: 18px;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     text-align: center;
//     align-content: center;
//     align-content: center;
//     height: 150px;
//   }
// }

// .container {
//   padding: 10px;

//   &-grid {
//     .row {
//       &-1 {
//         ion-col {
//           h1 {
//             font-size: 2rem;
//           }
//         }
//       }

//       &-2 {
//         border: 1px solid red;
//         height: 70%;
//       }
//     }

//     ion-col {
//       ion-row {
//         ion-col {
//           font-size: 1.5rem;
//         }
//       }
//     }
//   }
// }

// .item {
//   width: 100%;
//   height: 25px;
//   background-color: $color-text-primary;
//   color: #ffffff;
//   margin: 10px 0;

//   ion-row {
//     ion-col {
//       font-size: 1.5rem;
//     }
//   }
// }

// .products-container {
//   height: 80vh;
//   overflow: auto;
// }

// .pointer {
//   cursor: pointer;
// }

// .icon-white {
//   font-size: 1.5em;
//   color: #ffffff;
// }

.container {
  height: 100%;
  &-grid {
    height: 100%;
    .row {
      &-1 {
        height: 5%;

        @include breakpoint-size(ms-medium) {
          height: 10%;
        }

        ion-col {
          h1 {
            @include breakpoint-size(ms-extra-small) {
              font-size: var(--fs-text-title-xsm);
            }

            @include breakpoint-size(ms-small) {
              font-size: var(--fs-text-title-sm);
            }

            @include breakpoint-size(ms-medium) {
              font-size: var(--fs-text-title-md);
            }

            @include breakpoint-size(ms-extra-large) {
              font-size: var(--fs-text-title-xl);
            }
          }
        }
      }

      &-2 {
        height: 5%;

        ion-col {
          @include breakpoint-size(ms-extra-small) {
            font-size: var(--fs-text-xsm);
          }

          @include breakpoint-size(ms-small) {
            font-size: var(--fs-text-sm);
            text-align: center;
          }

          @include breakpoint-size(ms-medium) {
            font-size: var(--fs-text-md);
          }

          @include breakpoint-size(ms-medium) {
            text-align: center;
          }
        }
      }

      &-3 {
        height: 75%;
        overflow-y: scroll;

        @include breakpoint-size(ms-medium) {
          height: 70%;
        }
      }

      &-4 {
        height: 15%;

        ion-col {
          ion-button {
            @include breakpoint-size(ms-extra-small) {
              height: 35px;
              font-size: var(--fs-text-xsm);
            }

            @include breakpoint-size(ms-small) {
              height: 45px;
              font-size: var(--fs-text-sm);
            }

            @include breakpoint-size(ms-medium) {
              height: 30px;
              font-size: var(--fs-text-md);
            }

            @include breakpoint-size(ms-extra-large) {
              height: 40px;
              font-size: var(--fs-text-xl);
            }
          }
        }
      }
    }
  }
}
