$color-text-primary: #575552;
$color-text-error: #830f0f;

.title-menu,
.text-dark {
  color: $color-text-primary;
  width: 100%;
}

.title-menu {
  font-weight: bold;
  font-size: 1em;
}

.grid-container--main {
  height: 70vh;
  :nth-child(2) {
    align-self: center;
    color: $color-text-error;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-content: center;
    align-content: center;
    height: 150px;
  }
}

.container {
  padding: 10px;
}

.item {
  width: 100%;
  background-color: $color-text-primary;
  color: #ffffff;
  margin: 10px 0;
}

.products-container {
  height: 80vh;
  overflow: auto;
}

.pointer {
  cursor: pointer;
}

.icon-white {
  font-size: 1.5em;
  color: #ffffff;
}
